.container {
	padding: 20px;
	font-family: sans-serif;
	max-width: 500px;
	margin: 0 auto;
}

.item-add {
	margin-bottom: 20px;
}

.item-list {
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.create-at {
	font-size: 0.8em;
	color: #cdcdcd;
	margin-right: 10px;
}

.delete-btn {
	color: red;
	border: 1px solid red;
	background-color: white;
	cursor: pointer;
	border-radius: 4px;
}
